<div class="body" style="background-color: rgb(248, 242, 233);">
    <!-- <div class="body-container"> 
        <div class="grid wide">
            <div class="row js__all">
                <ul class="col pc-3 body__product-list">
                    <img class="body__product-img-background"
                        src="../assets/img/nen.gif" alt="">
                    <li class="body-product-ao">
                        Áo
                        <ul class="body__product-items">
                            <li class="body__product-item">Áo Drew
                                House</li>
                            <li class="body__product-item">Áo thun
                                Basic Tee Drew</li>
                            <li class="body__product-item">Áo Local
                                Brand Karants</li>
                            <li class="body__product-item">Áo thun
                                Levents Drawing</li>
                            <li class="body__product-item">Áo thun
                                Levents Basic</li>
                            <li class="body__product-item">Áo Hoodie
                                Missout</li>
                            <li class="body__product-item">Áo phông
                                trơn</li>
                            <li class="body__product-item">Áo thun
                                Teelab</li>
                            <li class="body__product-item">Áo thun
                                TSUN</li>



                        </ul>
                    </li>
                    <li class="body-product-quan">
                        Quần
                        <ul class="body__product-items">
                            <li class="body__product-item">Quần
                                STHEWAY</li>
                            <li class="body__product-item">Quần
                                Champion</li>
                            <li class="body__product-item">Quần Pub</li>
                            <li class="body__product-item">Quần
                                Outer</li>
                        </ul>
                    </li>
                    <div class="body__product-end">
                        <img src="../assets/img/car.gif" alt=""
                            class="body__product-img-car">
                        <ul class="body__end-list">
                            <li class="body__end-item">Giao hàng
                                nhanh chóng</li>
                            <li class="body__end-item">Đảm bảo chất
                                lượng</li>
                            <li class="body__end-item">Hỗ trợ khách
                                hàng</li>
                            <li class="body__end-item">Giá cả hợp lí</li>
                        </ul>
                    </div>
                </ul>

                <div class="col pc-9 body__product-all">
                    <div class="row">
                        <div class="col pc-3 body-product-header
                            body-product-header-first
                            js__product-drewhouse">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-drew/ao-drew-d.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        Drew House</b></p>
                                <p class="body-price-product--sale">600.000đ</p>
                                <p class="body-price-product">350.000</p><p
                                    class="body-price-d">đ</p>
                                <button class="body__product-add
                                    js__btn-add"><i class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>
                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-teedrew">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-icon/ao-icon-b.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        Basic Tee Drew</b></p>
                                <p class="body-price-product--sale">108.000đ</p>
                                <p class="body-price-product">54.000</p><p
                                    class="body-price-d">đ</p>
                                <br>
                                <button class="body__product-add
                                    js__btn-add"><i class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>

                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-karant">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-karant/ao-karant-b.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        thun Karants</b></p>
                                <p class="body-price-product--sale">250.000đ</p>
                                <p class="body-price-product">149.000</p><p
                                    class="body-price-d">đ</p>
                                <button class="body__product-add
                                    js__btn-add"><i class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>

                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-dragon">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-khunglong/ao-khunglong-d.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        LEVENTS DRAW</b></p>
                                <p class="body-price-product--sale">180.000đ</p>
                                <p class="body-price-product">119.000</p><p
                                    class="body-price-d">đ</p>
                                <br>
                                <button class="body__product-add
                                    js__btn-add"><i class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pc-3 body-product-header
                            body-product-header-first
                            js__product-sth">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/quan-sth/quan-sth-t.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Quần<b>
                                        STHEWAY</b></p>
                                <p class="body-price-product--sale">380.000đ</p>
                                <p class="body-price-product">299.000</p><p
                                    class="body-price-d">đ</p>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i
                                        class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>
                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-missout">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-missout/ao-missout-x.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo
                                    hoodie<b>
                                        Missout</b></p>
                                <p class="body-price-product--sale">230.000đ</p>
                                <p class="body-price-product">128.000</p><p
                                    class="body-price-d">đ</p>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i
                                        class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>

                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-phang">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-phang/ao-phang-b.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        thun unisex n7</b></p>
                                <p class="body-price-product--sale">145.000đ</p>
                                <p class="body-price-product">99.000</p><p
                                    class="body-price-d">đ</p>
                                <br>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i
                                        class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>

                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-teel">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-teel/ao-teel-do.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        thun Teelab</b></p>
                                <p class="body-price-product--sale">139.000đ</p>
                                <p class="body-price-product">79.000</p><p
                                    class="body-price-d">đ</p>
                                <br>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i
                                        class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pc-3 body-product-header
                            body-product-header-first
                            js__product-tsun">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/ao-tsun/ao-tsun-be.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        thun tsun</b></p>
                                <p class="body-price-product--sale">98.000đ</p>
                                <p class="body-price-product">50.000</p><p
                                    class="body-price-d">đ</p>
                                <br>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i
                                        class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>

                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-champion">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/quan-champion/quan-champion-xam.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Quần<b>
                                        Champion</b></p>
                                <p class="body-price-product--sale">180.000đ</p>
                                <p class="body-price-product">155.000</p><p
                                    class="body-price-d">đ</p>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i
                                        class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>

                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-outer">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/quan-outer/quan-outer-t.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        Drew House</b></p>
                                <p class="body-price-product--sale">350.000đ</p>
                                <p class="body-price-product">198.000</p><p
                                    class="body-price-d">đ</p>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i
                                        class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>

                        </div>
                        <div class="col pc-3 body-product-header
                            js__product-pub">
                            <img class="body-product-img"
                                src="../assets/img/img-sanpham/quan-pub/quan-pub-be.jpg"
                                alt="">
                            <div class="body-product-desc">
                                <p class="body-name-product">Áo<b>
                                        Drew House</b></p>
                                <p class="body-price-product--sale">350.000đ</p>
                                <p class="body-price-product">198.000</p><p
                                    class="body-price-d">đ</p>
                                <button class="body__product-add
                                    js__btn-add"><i
                                        class="fa-solid
                                        fa-cart-plus"></i></button>
                                <button class="body__product-buy
                                    js__btn-pay"><i class="fa-solid
                                        fa-money-bill"></i></button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col pc-9 body__product-inf">
                    <div class="row">
                        <div class="col pc-6 body__img">
                            <div class="body__img-box">
                                <img id="js__img-drewhouse"
                                    src="../assets/img/img-sanpham/ao-drew/ao-drew-d.jpg"
                                    alt="" class="body__inf-img">
                                <i class="fa-solid
                                    fa-circle-chevron-right
                                    body__img-next js__img-next"></i>
                                <i class="fa-solid
                                    fa-circle-chevron-left
                                    body__img-prev js__img-prev"></i>
                            </div>
                            <div class="body__share">
                                <b class="body__share-header">Chia
                                    sẻ: </b>
                                <i class="fa-brands
                                    fa-facebook-messenger
                                    body__share-messenger"></i>
                                <i class="fa-brands fa-youtube
                                    body__share-youtube"></i>
                                <i class="fa-brands fa-facebook
                                    body__share-facebook"></i>
                                <i class="fa-brands fa-instagram
                                    body__share-instagram"></i>
                                <i class="fa-brands
                                    fa-square-twitter
                                    body__share-twitter"></i>
                            </div>
                            <div class="body__back">
                                <button class="btn body__btn-back
                                    js__btn-back">Trở về</button>
                            </div>
                        </div>
                        <div class="col pc-6 body__inf">
                            <div class="body__inf-like">Yêu thích+</div>
                            <div class="body__inf-name
                                js__inf-name">

                            </div>
                            <br>
                            <div class="body__inf-rate js__rate">
                            </div>
                            <div class="body__inf-seperate"></div>
                            <div class="body__inf-sell-number
                                js__sell-number"></div>
                            <div class="body__inf-sell">
                                <b class="body__inf-price--sale
                                    js__inf-price--sale"></b>
                                <b class="body__inf-price
                                    js__inf-price"></b>
                            </div>
                            <div class="body__inf-color-box">
                                <b class="body__inf-color">Màu sắc:
                                </b>
                                <div
                                    class="body__inf-color-drewhouse
                                    js__inf-color">

                                </div>
                            </div>
                            <b class="body__inf-size">Kích cỡ: </b>
                            <div class="body__inf-chart js__chart">
                            </div>
                            <div class="body__inf-size-list
                                js__size">

                            </div>
                            <b class="body__inf-number">Số lượng:
                            </b>
                            <div class="body__inf-number">
                                <button class="body__inf-cong"><i
                                        class="fa-solid fa-plus"></i></button>
                                <input type="text"
                                    class="body__inf-ipt"
                                    placeholder="1">
                                <button class="body__inf-tru"><i
                                        class="fa-solid fa-minus"></i></button>
                            </div>
                            <div class="body__inf-btns">
                                <button class="body__inf-btn-cart
                                    btn model__btn-comback">Thêm vào
                                    giỏ</button>
                                <button class="body__inf-btn-pay btn
                                    model__btn-register">Mua ngay</button>
                            </div>
                            <div class="body__inf-guard">
                                <i class="fa-solid fa-shield-heart
                                    body__inf-guard"></i>
                                <b class="body__inf-guard-desc">POPA
                                    đảm bảo</b>
                            </div>
                        </div>

                    </div>
                    <div class="body__product-desc">
                        👉Cam Kết : <br>
                        ️- Sản phẩm chính hãng 100% như hình . <br>
                        ️- Nhận hàng hàng TRƯỚC - Thu tiền SAU.. cho
                        kiểm hàng dễ chịu khi nhận hàng. <br>
                        -------------------------- <br>
                        👉 Bức hình và MÔ TẢ <br>
                        ️- 100% ảnh thật được Cửa Hàng chúng tôi
                        chụp bằng máy tính bảng cá nhân <br>
                        ️- Giày đẹp, nhẹ, bền. Giá thấp tương thích
                        với những bàn sinh hoạt sinh, sinh viên.
                        hoàn toàn có thể làm giày đôi, giày nhóm.
                        phù hợp đi chơi, du lịch, chạy bộ, gym, đi
                        học, đi làm... <br>
                        ️- Dễ phối đồ, hoàn toàn có thể phối hợp với
                        váy, jeans, sooc…. thích hợp với tất cả tiết
                        trời từ đông sang hè. <br>
                        -------------------------- <br>
                        👉 Quyết định Bao test dùng thử HÀNG: <br>
                        Quý khách có quyền bao test đổi mới hàng
                        trong tầm 07 ngày kể từ thời điểm ngày nhận
                        hàng (với ĐK GIÀY mới mẻ NGUYÊN-CHƯA QUA SỬ
                        DỤNG) cho các tình huống sau: <br>
                        ️- ️Hàng lỗi nặng do sản xuất; hàng giao sai
                        mẫu, nhầm size. Anh/chị vui đùa ib lại Shop
                        sẽ được tham mưu trả hàng/hoàn tiền và
                        Shopee sẽ giúp 100% phí ship. <br>
                        ️- tình huống anh/chị đổi giày do muốn đổi
                        size, đổi mẫu khác thì cũng xin ib lại shop
                        và để được hướng dẫn. Đổi size/mẫu quý vị
                        phải gồng chịu phí ship 2 chiều <br>
                        ️- IB Shop sẽ được tư vấn
                    </div>
                </div>
            </div>

        </div>
    </div> -->
    <div class="body__main" >
        <div class="grid wide">
            <div class="row home-bn">
                <div class="col col-banner col-lg-8 col-md-12 col-ms-12 col-12 col-a">
                    <div class="slider">
                        <div class="slider-wrapper">
                            <div class="slider-main">
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus0.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus1.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus2.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus3.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus4.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus5.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus6.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus7.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus8.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus9.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus10.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus11.jpg"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                                <div class="slider-item">
                                    <img
                                        src="../assets/img/gioithieu/gioithieus12.png"
                                        alt="" class="home-banner-a
                                        js-banner-img">
                                </div>
                            </div>
                        </div>
                        <div class="slider-dots">
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="0"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="1"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="2"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="3"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="4"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="5"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="6"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="7"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="8"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="9"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="10"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="11"></i>
                                <i class="fa-solid fa-circle
                                    slider-dot"  data-index="12"></i>
                        </div>
                        <i class="fa-solid fa-angle-right
                            slider-right js-banner-right"></i>
                        <i class="fa-solid fa-angle-left
                            slider-left js-banner-left"></i>
                    </div>
                </div>
                <div class="col col-banner col-lg-4 col-md-12 col-ms-12 col-12">
                    <div class="home-banners-b">
                        <img
                            src="../assets/img/gioithieu/gioithieub1.png"
                            alt="" class="home-banner-b1">
                        <img
                            src="../assets/img/gioithieu/gioithieub2.jpg"
                            alt="" class="home-banner-b2">
                    </div>
                </div>
            </div>
            <div class="row banners">
                <div class="body-banners">
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo1.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Khung giờ săn
                            sale</div>
                    </div>
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo2.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Gì cũng rẻ-Mua
                            là Freeship </div>
                    </div>
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo3.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Mã giảm giá</div>
                    </div>
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo4.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Miễn phí vận
                            chuyển</div>
                    </div>
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo5.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Bắt trend-Giá
                            sốc</div>
                    </div>
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo6.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Hoàn xu Xtra
                            Từ 100k</div>
                    </div>
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo7.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Hàng hiệu giá
                            tốt</div>
                    </div>
                    <div class="body-banner">
                        <img
                            src="../assets/img/body-banner/logo8.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Nạp điện thoại
                            & Thẻ game</div>
                    </div>
                    <div class="body-banner none">
                        <img
                            src="../assets/img/body-banner/logo9.png"
                            alt="" class="body-banner-img">
                        <div class="body-banner-desc">Chia kho xu 30
                            triệu</div>
                    </div>
                </div>
            </div>
            <div class="row flash__sale">
                <div class="row">
                    <div class="flash__title">
                        <div class="flash__time">
                            <img src="../assets/img/flashsale.png" class="flash__img" alt="">
                            <div class="flash__clock">
                                <span id="days">Days</span><span class="ngay">D</span>
                                <span id="hours">Hours</span><span class="ngay">H</span>
                                <span id="minutes" class="none">Minutes</span><span class="ngay none">M</span>
                                <span id="seconds" class="none">Seconds</span><span class="ngay none">S</span>
                            </div>
                        </div>
                        <div class="flash__all">Xem tất cả <i class="fa-sharp fa-solid fa-diagram-next"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pc-12">
                        <div class="row flash__products">
                            <div ng-repeat="p in products_sale" class="col col-lg-2 col-md-4 col-6">
                                <div class="flash__product">
                                    <!-- <div class="mark__sale">
                                        <div class="mark__sale-percent">16%</div>
                                        <div class="mark__sale-giam">Giảm</div>
                                    </div> -->
                                    <div class="flash__product-img" style="background-image: url('../assets/img/img-sanpham/{{p.img}}'); background-size: contain; background-repeat: no-repeat; height: 220px;">
                                    </div>
                                    <img class="flash__flash" src="../assets/img/R-removebg-preview.png" alt="">
                                    <div class="flash__price">{{p.price}}</div>
                                    <div class="flash__hot">Đang bán chạy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col col-lg-2 col-md-2 col-ms-2 category">
                    <h3 class="category__header">
                        <i class="fa-solid fa-list"></i>
                        Danh mục
                    </h3>
                    <ul class="category__list">
                        <li class="category__item">
                            <a href=""><i class="fa-solid
                                    fa-caret-right"></i>
                                Sản phẩm</a>
                        </li>
                        <li class="category__item"><a href="">Trang
                                điểm mặt</a></li>
                        <li class="category__item"><a href="">Trang
                                điểm môi</a></li>
                        <li class="category__item"><a href="">Trang
                                điểm mắt</a></li>
                        <li class="category__item"><a href="">Makeup
                                Collection</a></li>
                    </ul>
                </div>
                <div class="col-lg-10 col-md-10 col-ms-10">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-ms-12"
                            style="background-color: rgb(236, 231,
                            231); height: 50px;">
                            <div class="nav-body">
                                <div class="nav-body1">
                                    <div class="nav-title">
                                        </div>
                                    <button class="btn">Phổ biến</button>
                                    <button class="btn btn--white">Mới
                                        nhất</button>
                                    <button class="btn btn--white">Bán
                                        chạy</button>
                                    <!-- <span class="nav-price-fil
                                        js-price-fil">
                                        Sắp xếp
                                        <i class="fa-sharp fa-solid
                                            fa-chevron-down
                                            nav-price-fil-icon"></i>
                                        <ul class="nav-price-list
                                            js-price-list">
                                            <li
                                                class="nav-price-item">Một
                                                chăm</li>
                                            <li
                                                class="nav-price-item">Hai
                                                Chịu</li>
                                            <li
                                                class="nav-price-item">Ba
                                                Ngàn</li>
                                        </ul>
                                    </span> -->
                                    <select class="nav-price-list" name="" id="" ng-model="price">
                                        <option value="">Mặc định</option>
                                        <option value="price_new">Tăng</option>
                                        <option value="-price_new">Giảm</option>
                                    </select>
                                </div>
                                <div class="nav-body2">
                                    <div class="nav-page">
                                        <span class="product-item-none"
                                            class="nav-page-active">1</span>
                                        <span class="nav-page-size ">/14</span>
                                    </div>
                                    <div class="nav-control">
                                        <span
                                            class="nav-control--prev">
                                            <i class="fa-sharp
                                                fa-solid
                                                fa-chevron-left"></i>
                                        </span>
                                        <span
                                            class="nav-control--next">
                                            <i class="fa-sharp
                                                fa-solid
                                                fa-chevron-right"></i>
                                        </span>
                                    </div>
                                </div>
            
            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#!detail/{{p.id}}" ng-repeat="p in products | orderBy: price" class="card product-padding col-md-4 col-sm-4 col-xs-6 col-12 product-item">
                            <div class="product-item-p" onclick="productsImg()">
                                <div class="mark__sale">
                                    <div class="mark__sale-percent">{{p.sale}}</div>
                                    <div class="mark__sale-giam">Giảm</div>
                                </div>
                                <div class="mark__mall" ng-show="p.mark == 1">
                                    <span>Mall</span>
                                </div>
                                <div class="mark__favorite" ng-show="p.mark == 2">
                                    <span>Yêu thích+</span>
                                </div>
                                <div class="product-item__BG"
                                    style="height: 63%;
                                    background-image:
                                    url('/assets/img/img-sanpham/{{p.img}}');background-repeat:
                                    no-repeat;background-position:
                                    bottom;background-size: cover;">
                                </div>
                        
                                <div class="product-item__desc">
                                    <div class="product-item__title">
                                        {{p.title}}
                                    </div>
                                    <div
                                        class="product-item__price-info">
                                        <div
                                            class="product-item__price">
                                            <span
                                                class="product-item__price--old">{{p.price_old}}</span>
                                            <span
                                                class="product-item__price--new">{{p.price_new}}</span>
                                        </div>
                                        <div class="product-item__cart">
                                            <i class="fa-sharp fa-solid
                                                fa-truck-moving"></i>
                                        </div>
                                    </div>
                                    <div class="product-item__rate">
                                        <div
                                            class="product-item__heart">
                                            <i class="fa-regular
                                                fa-heart js-heart"></i>
                                            <i class="fa-solid fa-heart
                                                heart-red js-heart-red"></i>
                                        </div>
                                        <div
                                            class="product-item__achievements">
                                            <div
                                                class="achievements__rates" ng-if="p.star == 3.5">
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star-half"></i>
                                                <i class="fa-regular
                                                    fa-star"></i>
                                                <!-- <i class="fa-regular fa-star"></i> -->
                                            </div>
                                            <div
                                                class="achievements__rates" ng-if="p.star == 4.5">
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star-half"></i>
                                                <!-- <i class="fa-regular fa-star"></i> -->
                                            </div>
                                            <div
                                                class="achievements__rates" ng-if="p.star == 3">
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-regular
                                                    fa-star"></i>
                                                <i class="fa-regular
                                                    fa-star"></i>
                                                <!-- <i class="fa-regular fa-star"></i> -->
                                            </div>
                                            <div
                                                class="achievements__rates" ng-if="p.star == 5">
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <!-- <i class="fa-regular fa-star"></i> -->
                                            </div>
                                            <div
                                                class="achievements__rates" ng-if="p.star == 4">
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-solid
                                                    fa-star"></i>
                                                <i class="fa-regular
                                                    fa-star"></i>
                                                <!-- <i class="fa-regular fa-star"></i> -->
                                            </div>
                                            <div
                                                class="achievements__sold">{{p.number}}</div>
                                        </div>
                                    </div>
                                    <div class="product-item__position">
                                        TP.Hồ Chí Minh
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </div>
                    <div class="row row-pagination" >
                        <div class="col pc-12 col-pagination">
                            <ul class="pagination">
                                <li class="pagination__ordinal">
                                    <i class="fa-sharp fa-solid
                                        fa-chevron-left"></i>
                                </li>
                                <li class="pagination__ordinal"><a
                                        href="">1</a></li>
                                <li class="pagination__ordinal"><a
                                        href="">2</a></li>
                                <li class="pagination__ordinal"><a
                                        href="">3</a></li>
                                <li class="pagination__ordinal"><a
                                        href="">4</a></li>
                                <li class="pagination__ordinal"><a
                                        href="">5</a></li>
                                <li class="pagination__ordinal">...</li>
                                <li class="pagination__ordinal"><a
                                        href="">14</a></li>
                                <li class="pagination__ordinal">
                                    <i class="fa-sharp fa-solid
                                        fa-chevron-right"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    var ful = new Date("September 21,2023 00:00:00").getTime();
        setInterval(() => {
            var now = new Date().getTime();
            var D = ful - now;
            console.log(D)
            var days = Math.floor(D/(1000*60*60*24));
            var hours = Math.floor(D/(1000*60*60));
            var minutes = Math.floor(D/(1000*60));
            var seconds = Math.floor(D/(1000));

            hours %= 24;
            minutes %= 60;
            seconds %= 60;

            document.getElementById('days').innerHTML = days;
            document.getElementById('hours').innerHTML = hours;
            document.getElementById('minutes').innerHTML = minutes;
            document.getElementById('seconds').innerHTML = seconds;
        }, 1000);
</script>
